.body{
    background-color: #4c3228;
    color: white;
    font-family: 'Prata', serif;
  }
  .button{
    width: 150px;
    height: 100px;
    margin: 10px;
  }
.caroimg{
  width: 100%;
  height:100%;
}
  footer{
    margin-top: 300px;
  }


  